.columns > div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.columns > div > div > picture img {
    width: 18px;
    height: 18px;
    padding-right: 5px;
    padding-top: 3px;
}

.columns.row img {
    display: block;
    max-height: 48px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* styles for columns with custom 'row' selector, for example:
  https://www.eder-gmbh.de/unternehmen/geschaeftsbereiche
  */

.columns.row  {
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px
}

.columns.row > div > div > p,
.columns.row > div > div > hr {
    margin-left: 16.6667%;
    width: 58.3333%;
}

.columns > div > div {
    flex-basis: 50%;
    color: #de010a;
    display: flex;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.columns.two-column > div {
    display: block;
}

.columns.row > div > div {
    color: var(--text-color);
    display: block;
    flex: 1;
    width: 50%;
    text-align: unset;
    float: left;
    position: relative;
    min-height: 1px;
    padding: 28px 15px;
}

.columns.row > div > div > picture img {
    width: 14px;
    height: 14px;
    padding-right: 5px;
    padding-top: 3px;
}

.columns.two-column > div > div p {
    font-size: 17px;
}

.columns.row.columns-2-cols > div > div > p:nth-child(5) {
    display: inline-block;
    width: 26.5%;
}

.columns.row.columns-2-cols > div > div > p:nth-child(6) {
    display: inline-block;
    margin-left: 5%;
    width: 26.5%;
}

.columns > div > div:first-of-type {
    margin-left: unset;
}

.columns.two-column > div > div:first-child {
    justify-content: flex-start;
}

.columns.two-column > div > div > picture img {
    width: auto;
    height: auto;
}

.columns.two-column > div > div:last-child {
    display: block;
    color: black;
    text-align: left;
}

.columns.two-column > div > div h2 {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    padding-top: 25px;
}

.columns.two-column > div > div h4 {
    display: inline-block;
    font-weight: normal;
    font-size: 15px;
    margin-right: 20px;
}

.columns.two-column > div > div h4 span {
    padding-right: 5px;
}

.columns.two-column .button-container {
    align-items: center;
}

.columns.two-column .button-container a {
    width: auto;
    padding-left: 80px;
    padding-right: 90px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    margin: 10px;
    font-weight: bold;
}

.columns.two-column .button-container a:hover {
    background-color: black;
    color: white;
}

@media (min-width: 400px) {
    .columns > div {
        flex-flow: row wrap;
    }

    .columns > div > div {
        font-size: 12px;
        padding-top: 0;
    }

    .columns > div > div > picture img {
        width: 14px;
        height: 14px;
        padding-right: 5px;
        padding-top: 3px;
    }

    .columns > div > div:last-child {
        padding-top: 10px;
    }
}

@media (min-width: 480px) {
    .columns > div > div {
        font-size: 15px;
    }

    .columns > div > div > picture img {
        width: 16px;
        height: 16px;
        padding-right: 5px;
        padding-top: 3px;
    }

    .columns > div > div:last-child {
        padding-top: 15px;
        text-align: left;
    }
}

@media (min-width: 600px) {
    .columns.two-column > div > div h4 {
        display: inline-block;
        font-weight: normal;
        font-size: 15px;
        margin-right: 100px;
    }

    .columns.two-column .button-container a {
        padding-left: 50px;
        padding-right: 50px;
        margin: 0;
    }
} 

@media (min-width: 706px) {
    .columns > div {
        display: flex;
        align-items: center;
        text-align: center;
        flex-flow: row nowrap;
        justify-content: unset;
    }

    .columns > div > div {
        font-size: 14px;
    }

    .columns.columns-2-cols > div {
        text-align:unset;    
    }

    .columns > div > div:last-child {
        padding-top: 0;
        text-align: left;
    }

    .columns > div > div > picture img {
        width: 15px;
        height: 15px;
        padding-right: 5px;
        padding-top: 3px;
    }
}

@media (min-width: 768px) and (max-width: 772px) {
    .columns > div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center ;
        padding-left: 150px;
        padding-right: 150px;
    }

    .columns > div > div {
        flex-basis: 50%;
        text-align: left;
    }

    .columns > div > div:last-child {
        flex-basis: 50%;
        text-align: left;
        padding-left: 80px;
    }
}

@media (min-width: 768px) {
    .columns.two-column > div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        flex-direction: row;
        align-items: flex-start;
        padding-left: 0;
        padding-right: 0;
    }

    .columns.two-column > div > div {
        /* flex-basis: unset; */
        display: unset;
    }

    .columns.two-column > div > div img {
        width: auto;
        height: auto;
    }

    .columns.two-column > div > div:last-child {
        padding-left: 30px;
    }

    .columns.two-column > div > div h2 {
        padding-top: 0;
    }

    .columns.two-column > div > div h4 {
        margin-right: 20px;
    }

    .columns.two-column > div > div h4 span {
        padding-right: 5px;
    }

    .columns.two-column > div > div p {
        font-size: 16px;
    }

    .columns.two-column .button-container a {
        padding-left: 50px;
        padding-right: 50px;
        margin: 0;
        margin-top: 10px;
    }
}

@media (min-width: 818px) {
    .columns > div > div {
        font-size: 14px;
    }

    .columns > div > div > picture img {
        width: 18px;
        height: 18px;
    }
}

@media (min-width: 992px) {
    .columns > div > div {
        font-size: 19px;
    }

    .columns > div > div > picture img {
        width: 22px;
        height: 22px;
    }

    .columns.two-column > div > div h2 {
        font-size: 30px;
    }

    .columns.two-column > div > div h4 {
        font-size: 15px;
        margin-right: 100px;
        margin-left: 0;
    }

    .columns.two-column .button-container a {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1200px) {
    .columns.two-column > div > div h4 {
        font-size: 25px;
        margin-right: 80px;
    }
}