/* below the fold CSS goes here */

/* Add Flaticon font and icon classes */

@font-face {
    font-family: Flaticon;
    src: url("../fonts/flaticon.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.icon-flaticon-golfer::before {
    content: "\f100"
}

.icon-flaticon-machine::before {
    content: "\f101"
}

.icon-flaticon-cell-phone::before {
    content: "\f102"
}

.icon-flaticon-info::before {
    content: "\f103"
}

.icon-flaticon-power::before {
    content: "\f104"
}

.icon-flaticon-construction::before {
    content: "\f105"
}

.icon-flaticon-excavator-construction::before {
    content: "\f106"
}

.icon-flaticon-cow::before {
    content: "\f107"
}

.icon-flaticon-piston::before {
    content: "\f108"
}

.icon-flaticon-calendar::before {
    content: "\f109"
}

.icon-flaticon-dots::before {
    content: "\f10a"
}

.icon-flaticon-play::before {
    content: "\f10b"
}

.icon-flaticon-cross::before {
    content: "\f10c"
}

.icon-flaticon-editing::before {
    content: "\f10d"
}

.icon-flaticon-caret-down::before {
    content: "\f10e"
}

.icon-flaticon-placeholder::before {
    content: "\f10f"
}

.icon-flaticon-training::before {
    content: "\f110"
}

.icon-flaticon-guarantee::before {
    content: "\f111"
}

.icon-flaticon-edv::before {
    content: "\f112"
}

.icon-flaticon-dot::before {
    content: "\f113"
}

.icon-flaticon-tow::before {
    content: "\f114"
}

.icon-flaticon-triangle-right::before {
    content: "\f115"
}

.icon-flaticon-connection::before {
    content: "\f116"
}

.icon-flaticon-customer-service::before {
    content: "\f117"
}

.icon-flaticon-transport-car::before {
    content: "\f118"
}

.icon-flaticon-weightlifting::before {
    content: "\f119"
}

.icon-flaticon-user::before {
    content: "\f11a"
}

.icon-flaticon-drill::before {
    content: "\f11b"
}

.icon-flaticon-breakdown-service::before {
    content: "\f11c"
}

.icon-flaticon-arrow-down::before {
    content: "\f11d"
}

.icon-flaticon-special-construction::before {
    content: "\f11e"
}

.icon-flaticon-crane::before {
    content: "\f11f"
}

.icon-flaticon-triangle-left::before {
    content: "\f120"
}

.icon-flaticon-triangle-down::before {
    content: "\f121"
}

.icon-flaticon-engineering::before {
    content: "\f122"
}

.icon-flaticon-arrow-right::before {
    content: "\f123"
}

.icon-flaticon-arrow-left::before {
    content: "\f124"
}

.icon-flaticon-premium::before {
    content: "\f125"
}

.icon-flaticon-gear::before {
    content: "\f126"
}

.icon-flaticon-cogs::before {
    content: "\f127"
}

.icon-flaticon-search::before {
    content: "\f128"
}

.icon-flaticon-leaves::before {
    content: "\f129"
}

.icon-flaticon-phone::before {
    content: "\f12a"
}

.icon-flaticon-domain::before {
    content: "\f12b"
}

.icon-flaticon-eyes::before {
    content: "\f12c"
}

.icon-flaticon-email::before {
    content: "\f12d"
}

.icon-flaticon-home-run::before {
    content: "\f12e"
}

.icon-flaticon-workshop::before {
    content: "\f12f"
}

.icon-flaticon-location::before {
    content: "\f130"
}

.icon-flaticon-check::before {
    content: "\f131"
}

.icon-flaticon-transport::before {
    content: "\f132"
}

.icon-flaticon-excavator::before {
    content: "\f133"
}

.icon-flaticon-rent::before {
    content: "\f134"
}

.icon-flaticon-paint::before {
    content: "\f135"
}

.icon-flaticon-tractor::before {
    content: "\F136"
}

.icon-flaticon-forklift::before {
    content: "\f137"
}

.icon-flaticon-map-marker::before {
    content: "\f138"
}

.icon-flaticon-lock::before {
    content: "\f139"
}

.icon-flaticon-fax::before {
    content: "\f13a"
}

.icon-flaticon-alarm::before {
    content: "\f13b"
}

/* Add Eder font and icon classes */

@font-face {
    font-family: Eder;
    src: url("../fonts/eder.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.icon-eder-icon::before {
    content: "\0041";
}
