/* below the fold CSS goes here */

@font-face {
    font-family: Flaticon;
    src: url("../fonts/flaticon.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Eder;
    src: url("../fonts/eder.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
